@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-500 text-lg;
    background-image: url("../public/bg-background.png");
  }
}

@layer components {
  .student-review {
    @apply text-gray-200 py-32;
    background-image: url("../public/images/student-review-bg.png");
  }

  .slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  .review-slide {
    border: 1px rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      98deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.03) 100%
    );
  }
}
